# Python
__pycache__/
*.py[cod]
*.venv/
.venv/

# Logs
logs/
*.log

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# OS
.DS_Store
Thumbs.db

# Next.js
apps/web/.next/
apps/web/node_modules/

# Local env files
*.env.local
*.env.*.local
apps/api/.env*