version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: zynor-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: zynor
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile.dev
    container_name: zynor-api
    environment:
      DATABASE_URL: postgresql+psycopg://postgres:postgres@db:5432/zynor
      ENVIRONMENT: docker
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:

